*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.dark {
  --background: rgb(34, 37, 45);
  --background-actions: rgb(41, 45, 54);
  --background-buttons: rgb(39, 43, 51);
  --background-buttons-hover: rgb(39, 43, 51, 0.75);
  --text: white;
  --text-light: rgba(255, 255, 255, 0.75);
}

.light {
  --background: white;
  --background-actions: white;
  --background-buttons: white;
  --background-buttons-hover: whitesmoke;
  --text: rgb(54, 57, 64);
  --text-light: rgba(54, 57, 64, 0.75);
}

.span-two {
  grid-column: span 2;
}

.calculator {
  background-color: var(--background);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.toggle-theme {
  justify-self: center;
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--background-buttons);
  border: 1px solid rgba(39, 43, 51, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin-block: 1.5rem;
  color: var(--text);
}

.calculator__output {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1.5rem;
  word-wrap: break-word;
  word-break: break-all;
}

.calculator__output .previous-operand {
  color: var(--text-light);
  font-size: 2.5rem;
  max-width: fit-content;
}

.calculator__output .current-operand {
  color: var(--text);
  font-size: 3.5rem;
  max-width: fit-content;
}

.calculator__actions {
  background-color: var(--background-actions);
  border: 1px solid rgba(39, 43, 51, 0.1);
  border-radius: 1.5rem 1.5rem 0 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1.5rem;
  padding: 1.5rem;
}

.calculator__actions > button {
  cursor: pointer;
  font-size: 1.75rem;
  background-color: var(--background-buttons);
  border: 1px solid rgba(39, 43, 51, 0.1);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
  color: var(--text);
}

.calculator__actions > button:hover,
.calculator__actions > button:focus {
  background-color: var(--background-buttons-hover);
}

@media (min-width: 480px) {
  .calculator {
    place-content: center;
    grid-template-rows: auto minmax(14rem, auto) auto;
  }

  .calculator__actions {
    border-radius: 1.5rem;
  }
}
